
.card-img-top{
    width:100%; height:250px
}
.product-img{
    width: 100%;
    height: 100%;
}
.img-product{
    width: 100%;
    height: 100%;

}
a, a:hover{
    text-decoration: none;
}
strong{
    display: block;
}
h5{
    text-transform: capitalize;
}
.btn-warning{
    text-transform: capitalize;
}
.showCart{
    display:flex; 
    justify-content: flex-start;
}
.container-fluid{
    margin: 50px  0 ;
}
.cart{
    margin: 0 0 30px 0; 
} 
td, th{
    text-align: center;
}
.cart-title h2{
    margin-bottom: 50px;
    color: red;
    text-align: center;
}
.cart-title{
    text-align: center;
}
.order{
    text-align: center;
    background-color: gray;
    height: 100px;
    align-items: center;
}
.button{
    display: flex; justify-content:space-around;
}
.product{
    margin-bottom: 30px;
}
.addCart{
    height: 70%;
}
.product-detail{
    padding: 0 100px 0 100px;
}
.detail{
    padding-left: 50px;
}
.cart{
    padding: 0 100px 0 100px;

}
.card-body{
    padding: 10px;
}